/*ウィンドウ背景色の設定*/
kei1{
 background-color:#FF3F3F;
 width:100%;
 font-size:200%;
 color:#ffffff;
 padding:15px;
 
}

kei3{
 background-color:#FF3F3F;
 width:100%;

 color:#ffffff;
 padding:15px;
 
}



table td {
  word-break : break-all;
}

kei4{
 background-color:#FF3F3F;
 width:100%;
 font-size:150%;
 color:#ffffff;
 padding:15px;
 
}

kei5{
font-size:30px;
}

div#right{
text-align: right;}

body{
background-color:#FFEBEB;}

table{font-size:20px;
background-color:#FFD1D1;}

hyou1{
font-size:15pt;
bgcolor:#22D8AD;}

kei2{
background-color:#ff0700;}

back1{
background-color:#22D8AD;
font-size:200%;
}

text1{
background-color:#00B0F0;
}

input1 
{outline-style:solid;
outline-width:3px;
outline-color:red;
bgcolor:#ff0705;}

input1{
background-color:#ff0705;}

check1{
font-size:20px;
border-bottom:solid;
border-color:#FF0000;
border-width:200%;
}

check2{
font-size:20px;}

textarea{
background-color:#bde9ba;
}


botan{
style="width:100px;height:50px";}


.button {
  display:inline-block;
  border-radius:20%;/* 角丸 */
  font-size:32pt;/* 文字サイズ*/
  text-align: center;/*文字位置*/
  cursor:pointer;/*カーソル*/
  padding: 21px 32px;/* 余白*/
  background:#66ff66;/* 背景色     */
  color:#e70000;/* 文字色     */
  line-height:1em;/* 1行の高さ  */
  transition:.3s;/* なめらか変化 */
  box-shadow: 8px 8px 3px #666666;  /* 影の設定 */
  border:2px solid #66ff66;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #66ff66;     /* 背景色     */
  background    : #e70000;     /* 文字色     */
}



.btn-square-slant {
font-size:20px;
  display: inline-block;
  position: relative;
  padding: 0.5em 1.4em;
  text-decoration: none;
  background: #FFD1D1;/*ボタン色*/
  color: #000000;
  border-bottom: solid 5px #E20000;/*ボタン色より暗めに*/
  border-right: solid 5px #ff0705;/*ボタン色より暗めに*/
}

.btn-square-slant:before {  
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 0;
  height: 0;
  border-width: 0 6px 6px 0px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #FFF;
}

.btn-square-slant:after {  
  content: " ";
  position: absolute;
  top: -1px;
  right: -5px;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 0px;
  border-style: solid;
  border-color: #FFF;
  border-bottom-color: transparent;
}

.btn-square-slant:active {
  /*ボタンを押したとき*/
  border:none;
  -webkit-transform: translate(6px,6px);
  transform: translate(6px,6px);
}

.btn-square-slant:active:after, .btn-square-slant:active:before {
  content: none;/*ボタンを押すと線が消える*/
}