@charset "UTF-8";


h2
{
color:red;
font-size:20px;
}

h1{
    margin-bottom:70px;
    color:greenyellow;
    text-shadow:1px;
    font: size 35px;
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}