@charset "UTF-8";


h2
{
color:red;
font-size:20px;
}

h1{
    color:greenyellow;
    text-shadow:1px;
    font: size 120px;
    display: block;
    margin-top:20px;
    margin-bottom:30px;
}
